doctype html
html
  head
    title Superpowers
    meta(charset="utf-8")
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/serverBuild/index.css")

  body
    header= t("common:states.loading")
