doctype html
html
  head
    meta(charset="utf-8")
    title Building... — Superpowers
    link(rel="stylesheet",href="/styles/reset.css")
    style.
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial;
        font-size: 16px;
      }

      .status {
        text-transform: uppercase;
        color: #666;
      }

  body
    .status Building...
