doctype html
html
  head
    meta(charset="utf-8")
    title Building... — Superpowers
    link(rel="stylesheet",href="/styles/reset.css")
    style.
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial;
        font-size: 16px;
      }

      .status {
        text-transform: uppercase;
        color: #666;
      }

  body
    div
      span.status Building...
      a.link(href="#")
    
    script.
      if (window.navigator.userAgent.indexOf("Electron") !== -1) {
        var electron = require("electron");
        var statusElt = document.querySelector(".status");
        var linkElt = document.querySelector(".link");
        var linkTarget = null;
        
        linkElt.addEventListener("click", function(event) {
          event.preventDefault();
          if (linkTarget != null) electron.shell.showItemInFolder(linkTarget);
        });
  
        electron.ipcRenderer.on("setText", function(event, data) {
          if (data.title != null) document.title = data.title;
          statusElt.textContent = data.text;
          if (data.showItemInFolder != null) {
            linkElt.textContent = data.showItemInFolder.text;
            linkTarget = data.showItemInFolder.target;
          } else {
            linkElt.textContent = "";
            linkTarget = null;
          }
        });
      }
