doctype html
html
  head
    title Superpowers &mdash; Building...
    link(rel="stylesheet",href="/styles/reset.css")
    style.
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial;
        font-size: 16px;
      }

      .status {
        text-transform: uppercase;
        color: #666;
      }

  body
    div.status Building...
