@import "nib"
@import "styles/tabStrip"

body
  display flex
  border 1px solid #666

  > div
    flex 1

  > .hub
    @import "hub/index"

  > .project
    @import "project/index"

  .controls
    @import "styles/controls"

body.browser
  border none

  .controls
    .minimize, .maximize, .close
      display none
