doctype html
html
  head
    title Superpowers
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/perfectResize.css")
    link(rel="stylesheet",href="/client/styles/treeView.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

    template#hub-template
      include hub/index

    template#project-template
      include project/index

  body
    script(src="/core/SupCore.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
