@import "nib"
@import "styles/tabStrip"

body
  display flex
  font-family "Roboto"

  &:not(.maximized)
    border 1px solid #666

  > div
    flex 1

  > .hub
    @import "styles/hub"

  > .project
    @import "styles/project"

  .controls
    @import "styles/controls"

body.browser
  border none

  .controls
    .minimize, .maximize, .close
      display none
