**/node_modules
*.sublime-*
npm-debug.log
/config.json
/settings.json

SupCore/**/*.js
SupClient/**/*.js
server/**/*.js
client/**/*.js
!gulpfile.js

public/*
!public/locales
!public/images
!public/fonts
!public/favicon.ico

workbench/
packages/
systems/
projects/
builds/
