**/node_modules
*.sublime-*
SupCore/**/*.js
SupClient/**/*.js
server/**/*.js
client/**/*.js
workbench/
packages/
systems/
projects/
builds/
public/*
!public/locales
!public/images
config.json
settings.json
npm-debug.log
