header
  h1 Superpowers
  .version

.early-access Brought to you by Sparklin Labs. 
  a.sparklin-labs(href="http://superpowers-html5.com/",target="_blank") Thanks for supporting us!

.update-status Checking for updates...
