@import "../shared"

body
  background #eee
  display flex
  flex-flow column

.login, .connecting
  flex 1
  display flex
  flex-flow column
  align-items center
  justify-content center

.login .welcome
  margin 1em

.login table.properties
    width auto

.login .buttons
  margin 1em
