doctype html
html
  head
    meta(charset="utf-8")
    title Login — Superpowers
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="/login/index.css")

  body
    .server-header
      img.server-icon(src="/images/icon.png")
      .server-name
      .controls
        button.minimize
        button.maximize
        button.close
    form.login
      .welcome=t("login:welcome")
    
      table.properties
        tr
          th=t("login:password")
          td
            input.server-password(type="password",placeholder="Password",autofocus)
        tr
          th=t("login:username")
          td
            input.username(type="text",placeholder="Your username",spellcheck="false")

      .buttons
        button.log-in=t("login:logIn")

    a(href="https://sparklinlabs.com/",target="_blank").server-footer
      | Superpowers — HTML5 2D+3D game maker

    script.
      // We want to apply this class before the first render
      // to avoid having the window borders flashing
      if (window.navigator.userAgent.indexOf("Electron") === -1) document.body.classList.add("browser");
    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="/login/index.js")
