@import "nib"
@import "Roboto"

*
  box-sizing border-box
  min-width 0
  min-height 0
  font-family inherit

html, body
  height 100%

body
  margin 0
  user-select none
  cursor default
  font-family Arial
  font-size 14px

.superpowers-error
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background #eee
  padding 2em
  color #444

  h1
    margin-bottom 1em
