body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: #eee;
}

header {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #888;
}
