.project
  .sidebar
    .project-management
      h1.project-name
      .project-buttons
        button(title="(F5)",disabled).run Run
        button(title="(F6)",disabled).debug Debug

    .entries-buttons
      div.create
        button(disabled).new-asset New Asset
        button(disabled).new-folder New Folder
        button(title="(Ctrl+O)",disabled).search Search
      div.edit
        button(disabled).open-entry.single.asset-only Open
        button(disabled).rename-entry.single Rename
        button(disabled).duplicate-entry.single.asset-only Duplicate
        button(disabled).trash-entry Trash
    .entries-tree-view
      .connecting
        div Connecting...
    .tools
      ul
  .main
    .top
      .tabs-bar
      .controls
        button.toggle-notifications ?o?
        //
          button _
          button o
          button X
    .panes
