@import "../window"

body
  display flex

.sidebar
  min-width 240px
  max-width 480px
  width 280px
  display flex
  flex-flow column
  background #f0f0f0
  color #444

  .project-management button
    opacity 0.5
    cursor pointer
    &:hover { opacity: 1; }
    &:disabled { opacity: 0.2; cursor: default; }

.project-management
  display flex
  align-items center
  background rgba(0,0,0,0.65)
  color #eee
  line-height 1

.project-name
  font-weight bold
  padding 1em 0
  -webkit-app-region drag
  flex 1
  text-overflow ellipsis
  white-space nowrap
  overflow-x hidden

.project-buttons, .project-icon
  margin 0 0.5em

  button
    border none
    box-shadow none
    background-color transparent
    background-position center center
    background-repeat no-repeat
    width 30px
    height 30px

  .publish { background-image: url(/images/project/publish.svg); }
  .stop {background-image: url(/images/project/stop.svg); }
  .debug {background-image: url(/images/project/debug.svg); }
  .run { background-image: url(/images/project/run.svg); }
  .go-to-hub { background-image: url(/images/project/go-to-hub.svg); }

.entries-buttons
  .new-asset { background-image: url(/images/entries/new-asset.svg); }
  .new-folder { background-image: url(/images/entries/new-folder.svg); }
  .rename-entry { background-image: url(/images/actions/rename.svg); }
  .duplicate-entry { background-image: url(/images/actions/duplicate.svg); }
  .trash-entry { background-image: url(/images/actions/delete.svg); }
  .search { background-image: url(/images/actions/search.svg); }
  .filter { background-image: url(/images/actions/filter.svg); }

.filter-buttons
  .enabled { border: 1px solid black; }
  .disabled { border: 1px solid gray; }

.entries-tree-view
  flex 1
  position relative
  overflow-y auto

  .connecting
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 1
    display flex
    flex-flow column
    align-items center
    justify-content center
    text-align center
    text-transform uppercase
    opacity 0.5

  .tree
    position absolute

.entries-tree-view .tree, .find-asset-dialog .tree
  li
    color #444

    > img
      width 24px
      height 24px

    &.group
      color #666

    &:not(.selected):hover
      background #e0e0e0

    &.group > .toggle
      opacity 0.5
      background url(/images/treeView/group-open-dark.svg) center no-repeat
    &.group.collapsed > .toggle
      background-image url(/images/treeView/group-closed-dark.svg)

  .name
    white-space pre
    flex 1
    text-overflow ellipsis
    overflow-x hidden

  .badges
    &:empty { padding: 0; }

    span
      background rgba(0,0,0,0.2)
      color rgba(0,0,0,0.8)
      font-size 80%

.find-asset-dialog
  form
    width 600px

  input[type=search]
    height 28px

  .assets-tree-view
    border 1px solid #aaa
    overflow-y auto
    height 300px

  .assets-tree-view .tree
    padding 0

.open-in-new-window
  cursor pointer
  align-self stretch
  border none
  box-shadow none
  background-color transparent
  background-position center center
  background-repeat no-repeat
  opacity 0.3

  background-image url(/images/actions/open-in-new-window.svg)
  width 28px

  &:hover
    background-color rgba(0,0,0,0.1)

  &:active
    background-color #fff

.tools
  background rgba(0,0,0,0.1)
  border-top 1px solid #acacac

  ul
    margin 0
    padding 0
    list-style none

  li
    display flex
    align-items center
    height 28px

    &:hover
      background rgba(0,0,0,0.1)
      .name { text-decoration: none; }

    &:active
      background #fff

    div
      flex 1
      display flex
      align-items center

      > img
        width 24px
        height 24px

      .name
        flex 1
        white-space pre
        text-overflow ellipsis
        overflow-x hidden
        padding 0.25em
        text-decoration underline
        cursor pointer

.main
  flex 1
  display flex
  flex-flow column

  .top
    display flex
    flex-shrink 0
    background #eee
    border-bottom 1px solid #aaa

  .tabs-bar
    flex 1
    height 35px
    -webkit-app-region drag
    @import "tabsBar"

  .panes
    flex 1
    display flex

    iframe
      border none
      flex 1
      // NOTE: Workaround for Microsoft Edge
      // (iframes seem to ignore flex: 1)
      min-height 100%
      &:not(.active) { display: none; }
