doctype html
html
  head
    meta(charset="utf-8")
    title Hub — Superpowers 
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/hub/index.css")

  body
    .server-header
      img.server-icon(src="/images/icon.png")
      .server-name
      .controls
        button.minimize
        button.maximize
        button.close

    .projects-buttons.button-strip
      button(disabled).new-project New Project
      button(disabled).edit-project Edit project
    .projects-tree-view
    a(href="https://sparklinlabs.com/",target="_blank").server-footer
      | Superpowers — HTML5 2D+3D game maker

    script.
      // We want to apply this class before the first render
      // to avoid having the window borders flashing
      if (window.navigator.userAgent.indexOf("Electron") === -1) document.body.classList.add("browser");
    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="/hub/index.js")
