.hub
  .top
    img.server-icon(src="images/icon.png")
    .server-name
    .controls
      button.minimize
      button.maximize
      button.close

  .projects-buttons
    button(disabled).new-project New Project
    button(disabled).rename-project Rename
    button(disabled).edit-description Edit description
  .projects-tree-view
  a(href="https://sparklinlabs.com/",target="_blank").superpowers
    | Superpowers &mdash; HTML5 2D+3D game maker
