&
  display flex
  align-items flex-start

button
  width 30px
  height 25px
  border none
  outline none
  -webkit-app-region no-drag

.toggle-notifications
  background url(images/controls/notifications-enabled.svg)
  &:hover
    background url(images/controls/notifications-enabled-hover.svg)
  &:active
    background url(images/controls/notifications-enabled-active.svg)

.toggle-notifications.disabled
  background url(images/controls/notifications-disabled.svg)
  &:hover
    background url(images/controls/notifications-disabled-hover.svg)
  &:active
    background url(images/controls/notifications-disabled-active.svg)

.minimize
  background url(images/controls/minimize-window.svg)
  &:hover
    background url(images/controls/minimize-window-hover.svg)
  &:active
    background url(images/controls/minimize-window-active.svg)

.maximize
  background url(images/controls/maximize-window.svg)
  &:hover
    background url(images/controls/maximize-window-hover.svg)
  &:active
    background url(images/controls/maximize-window-active.svg)

.close
  background url(images/controls/close-window.svg)
  &:hover
    background url(images/controls/close-window-hover.svg)
  &:active
    background url(images/controls/close-window-active.svg)
