&
  background #eee
  display flex
  flex-flow column

.top
  border-bottom 1px solid rgba(0,0,0,0.2)
  background #fff
  display flex
  align-items center

  .server-icon
    width 40px
    height 40px
    border 1px solid rgba(0,0,0,0.2)
    border-radius 4px
    margin 0.5em
    background #eee

  .server-name
    -webkit-app-region drag
    font-size 2em
    font-weight bold
    flex 1

  .controls
    align-self flex-start

.projects-buttons
  margin 0.5em

.projects-tree-view
  flex 1
  margin 0 0.5em
  border 1px solid #aaa
  background #fff
  overflow-y auto
  position relative

  ol.tree
    padding 0 0 2em 0
    position absolute

  li
    display flex
    white-space nowrap

    .description
      flex 1
      overflow hidden
      text-overflow ellipsis

  .name
    font-weight bold

.superpowers
  margin 0.5em
  text-align center
  opacity 0.5
  display block
  color inherit
  text-decoration none
  
  &:hover
    opacity 1