&
  display flex

.sidebar
  min-width 240px
  max-width 480px
  width 280px
  display flex
  flex-flow column
  background #f0f0f0
  color #444

  button
    opacity 0.5
    cursor pointer

    &:hover
      opacity 1

    &:disabled
      opacity 0.2
      cursor default

.project-management
  display flex
  align-items center
  background rgba(0,0,0,0.65)
  color #eee
  line-height 1

.project-name
  font-weight bold
  padding 1em
  padding-right 0
  -webkit-app-region drag
  flex 1
  text-overflow ellipsis
  white-space nowrap
  overflow-x hidden

.project-buttons
  margin 0 0.5em

  button
    border none
    background-color transparent
    background-position center center
    background-repeat no-repeat
    width 30px
    height 30px

  .export
    background-image url(images/project/export.svg)
  .debug
    background-image url(images/project/debug.svg)
  .run
    background-image url(images/project/run.svg)

.entries-buttons
  display flex
  background rgba(0,0,0,0.05)
  border-bottom 1px solid #acacac

  button
    flex 1
    height 35px
    border none
    background-color transparent
    background-position center center
    background-repeat no-repeat

    &:hover
      background-color rgba(0,0,0,0.1)

    &:active
      background-color #fff

  .new-asset
    background-image url(images/entries/new-asset.svg)
  .new-folder
    background-image url(images/entries/new-folder.svg)
  .rename-entry
    background-image url(images/entries/rename-entry.svg)
  .duplicate-entry
    background-image url(images/entries/duplicate-entry.svg)
  .trash-entry
    background-image url(images/entries/trash-entry.svg)
  .search
    background-image url(images/entries/search.svg)

.entries-tree-view
  flex 1
  position relative
  overflow-y auto

  .connecting
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 1
    display flex
    flex-flow column
    align-items center
    justify-content center
    text-align center
    text-transform uppercase
    opacity 0.5

  .tree
    padding 0 0 2em 0
    position absolute

    li
      color #444

      > img
        width 24px
        height 24px

      &.group
        color #666

      &:not(.selected):hover
        background #e0e0e0

      &.group > .toggle
        opacity 0.5
        background url(/images/treeView/group-open-dark.svg) center no-repeat
      &.group.collapsed > .toggle
        background-image url(/images/treeView/group-closed-dark.svg)

  .name
    white-space pre
    flex 1
    text-overflow ellipsis
    overflow-x hidden

  .diagnostics span
    background rgba(0,0,0,0.2)
    color rgba(0,0,0,0.8)
    font-size 80%

.openInNewWindow
  background transparent
  border none
  opacity 0.5
  cursor pointer
  align-self stretch

  &:hover
    opacity 1

  &:active
    background-color #eee

.tools
  background rgba(0,0,0,0.1)
  overflow-y auto
  border-top 1px solid #acacac

  ul
    margin 0
    padding 0
    list-style none

  li
    display flex

    &:hover
      background rgba(0,0,0,0.1)
      a { text-decoration: none; }

    &:active
      background #fff

    div
      flex 1

      a
        display block
        padding 0.5em
        text-decoration underline
        cursor pointer

.main
  flex 1
  display flex
  flex-flow column

  .top
    display flex
    background #eee
    border-bottom 1px solid #aaa

  .tabs-bar
    flex 1
    @import "tabsBar"

  .panes
    flex 1
    display flex

    iframe
      border none
      flex 1

      &:not(.active)
        display none
