&
  display flex

h1
  font-size 1.5em

.sidebar
  width 300px
  display flex
  flex-flow column
  background #eee
  border-right 1px solid #aaa

  .project-management
    display flex
    align-items center
    padding 0.5em

    .project-name
      flex 1
      margin 0
      text-overflow ellipsis
      white-space nowrap
      overflow-x hidden

  .entries-buttons
    display flex
    flex-flow column

    > div
      display flex

    button
      flex 1
      font-size smaller
      white-space nowrap

  .entries-tree-view
    border-top 1px solid #aaa
    flex 5
    position relative
    background #fff
    overflow-y auto

    .connecting
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      z-index 1
      display flex
      flex-flow column
      align-items center
      justify-content center
      text-align center
      text-transform uppercase
      opacity 0.5

    .tree
      position absolute

    .name
      white-space pre
      flex 1

    .diagnostics span
      background rgba(0,0,0,0.2)
      color rgba(0,0,0,0.8)
      font-size 80%

  .tools
    border-top 1px solid #aaa
    flex 1
    overflow-y auto
    ul
      list-style none
      margin 0
      padding-left 0.5em

    li
      margin 0.5em 0

.main
  flex 1
  display flex
  flex-flow column

  .top
    display flex

    .controls
      display flex
      background #eee
      border-bottom: 1px solid #aaa;

  .tabs-bar
    flex 1
    @import 'tabsBar'

  .panes
    flex 1
    display flex

    iframe
      border none
      flex 1

      &:not(.active)
        display none
