ol.tab-strip
  height 35px
  display flex
  margin 0
  padding 0

  *
    user-select none

  > li
    display flex
    align-items center
    width 160px
    height 35px
    border-right 1px solid #bbb
    background #ddd

    &.dragged
      position absolute
      z-index 1000
      border-left 1px solid #bbb
      margin-left -1px

    &.drop-placeholder
      background none

      &:nth-last-child(1)
        border-right none

    &:not(.active)
      color #888

    &:hover
      background #eee

    &.active
      background #fff

    &.blink
      animation-duration 1s
      animation-iteration-count infinite
      animation-name blink
      background #aaa

  > li[data-pane="main"]
    width 40px
    padding-left 4px

@keyframes blink
  0%
    background #fff
  50%
    background #F7C9AE
  100%
    background #fff
