&
  cursor default
  -webkit-app-region drag

.tab-strip > li
  display flex
  -webkit-app-region no-drag

  .icon
    padding 0 0.25em
    width calc(24px + 0.5em)
    pointer-events none

  .outer-label
    width 70%
    margin-left auto
    margin-right auto
    text-align right
    overflow hidden
    white-space nowrap

  .inner-label
    float right

  .label
    pointer-events none
    flex 1
    overflow-x hidden
    text-overflow ellipsis
    white-space nowrap

  .close
    margin-right 0.25em
    width 20px
    height 20px
    border none
    outline none

    background url(images/tabs/close.svg) center center no-repeat
    opacity 0.5

    &:hover
      background-image url(images/tabs/close-active.svg)
      opacity 0.5

    &:active
      background-image url(images/tabs/close-active.svg)
      opacity 1
