doctype html
html
  head
    title Superpowers
    meta(charset="utf8")
    link(rel="stylesheet",href="index.css")
    style.
      body {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .top {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 25px;
        -webkit-app-region: drag;
      }
      .status { text-align: center; font-size: 2em; padding: 1em; }
  body
    .status
    button.reload(hidden) Try again

    .top

    .controls
      button.minimize
      button.close

    script.
      var remote = require("remote");
      var currentWindow = remote.getCurrentWindow();
      var ipc = require("ipc");

      document.querySelector(".controls .minimize").addEventListener("click", function() { currentWindow.minimize(); });
      document.querySelector(".controls .close").addEventListener("click", function() { currentWindow.close(); });

      // var address;
      ipc.on("connecting", function(address) {
        document.querySelector(".status").textContent = "Connecting to " + address + "...";
      });

      ipc.on("connection-failed", function(address) {
        var statusElt = document.querySelector(".status");
        statusElt.textContent = "Could not connect to " + address;

        var reloadButton = document.querySelector(".reload");
        reloadButton.hidden = false;
        reloadButton.addEventListener("click", function() {
          statusElt.textContent = "Connecting to " + address + "..."
          reloadButton.hidden = true;
          ipc.send("connecting", currentWindow.id);
        });
      });

