doctype html
html
  head
    title Superpowers
    meta(charset="utf-8")
    link(rel="stylesheet",href="index.css")
    style.
      body {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .top {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 25px;
        -webkit-app-region: drag;
      }
      .status { text-align: center; font-size: 2em; padding: 1em; }
  body
    .status
    button.reload(hidden) Try again

    .top

    .controls
      button.minimize
      button.close

    script.
      var electron = require("electron");
      var currentWindow = electron.remote.getCurrentWindow();

      document.querySelector(".controls .minimize").addEventListener("click", function() { currentWindow.minimize(); });
      document.querySelector(".controls .close").addEventListener("click", function() { currentWindow.close(); });

      var querystring = require("querystring");
      var query = querystring.parse(window.location.search.slice(1));

      var statusElt = document.querySelector(".status");
      statusElt.textContent = query.status;

      var reloadButton = document.querySelector(".reload");
      reloadButton.hidden = query.reload !== "true";

      reloadButton.addEventListener("click", function() {
        statusElt.textContent = "Connecting to " + query.address + "...";
        reloadButton.hidden = true;
        electron.ipcRenderer.send("reconnect", currentWindow.id);
      });
