@import "../../SupClient/src/styles/reset.styl"
@import "../../SupClient/src/styles/treeView.styl"
@import "../../SupClient/src/styles/dialogs.styl"

body
  background #eee
  display flex
  flex-flow column
  border 1px solid #666

.pane-buttons
  background #fff
  border-bottom 1px solid rgba(0,0,0,0.2)
  -webkit-app-region drag

  > button
    outline none
    -webkit-app-region no-drag
    background #f5f5f5
    padding 0.75em 1em
    border none
    border-right 1px solid rgba(0,0,0,0.2)
    text-transform uppercase
    border-radius 0
    box-shadow none

  > button.active
    background #444
    color #fff
    font-weight bold
    box-shadow none

  > button:not(.active):hover
    background #ccc

.panes
  flex 1
  display flex
  flex-flow column

  > div
    flex 1

    &:not(.active)
      display none

.panes
  > .servers
    @import "panes/servers.styl"
  > .settings
    @import "panes/settings.styl"
  > .community
    @import "panes/community.styl"

.splash
  @import "splash/index.styl"

a:hover
  text-decoration none
  color #66f

.controls
  position absolute
  top 1px
  right 1px
  font-size 0

  button
    width 30px
    height 25px
    border none
    box-shadow none
    border-radius 0
    outline none
    -webkit-app-region no-drag
    
   button:hover, button:active
    box-shadow none

  .minimize
    background url(images/controls/minimize-window.svg)
    &:hover
      background url(images/controls/minimize-window-hover.svg)
    &:active
      background url(images/controls/minimize-window-active.svg)

  .close
    background url(images/controls/close-window.svg)
    &:hover
      background url(images/controls/close-window-hover.svg)
    &:active
      background url(images/controls/close-window-active.svg)
