doctype html
html
  head
    title Superpowers
    link(rel="stylesheet",href="../../public/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

  body
    .pane-buttons
      button.home Home
      button.servers Servers
      button.settings Settings

    .panes
      .home
        include panes/home
      .servers
        include panes/servers
      .settings
        include panes/settings

    .my-server
      header
        | My Server 
        .buttons
          button.start-stop-server Start
        .auto-start-server
          input#auto-start-server(type="checkbox")
          label(for="auto-start-server") Auto-start server on startup
      textarea(readonly)

    script.
      window.child_process = require('child_process');

    script(src="../../public/client/SupClient.js")
    script(src="index.js")
