doctype html
html
  head
    title Superpowers
    link(rel="stylesheet",href="index.css")

  body
    .pane-buttons
      button.servers Servers
      // button.community Community
      button.settings Settings

    .panes
      .servers
        include panes/servers
      // .community
        include panes/community
      .settings
        include panes/settings

    .splash
      include splash/index

    script.
      window.nodeProcess = process;
      window.nodeRequire = require;

    script(src="index.js")
