doctype html
html
  head
    title Superpowers
    meta(charset="utf8")
    link(rel="stylesheet",href="index.css")
  body
    .pane-buttons
      button.servers Servers
      button.settings Settings
      button.community Community

    .panes
      .servers
        include panes/servers
      .settings
        include panes/settings
      .community
        include panes/community

    .splash
      include splash/index

    .controls
      button.minimize
      button.close

    script.
      window.nodeProcess = process;
      window.nodeRequire = require;

    script(src="index.js")
