ul
  li
    | Skype groups: 
    a(href="https://sparklinlabs.com/skype/en",target="_blank") English
    |  &middot; 
    a(href="https://sparklinlabs.com/skype/fr",target="_blank") Français
  li
    a(href="https://sparklinlabs.com/",target="_blank") Official website
  li
    a(href="http://docs.sparklinlabs.com/",target="_blank") Getting started
  li
    a(href="https://trello.com/b/eQUeNKrq/superpowers",target="_blank") Trello board
    | , 
    a(href="http://forums.tigsource.com/index.php?topic=46317.0",target="_blank") Devlog
  li
    a(href="https://twitter.com/SparklinLabs",target="_blank") @SparklinLabs
    |  (feel free to ask us questions!)
