ul
  li
    | Discuss: 
    a(href="http://itch.io/engine/superpowers/community",target="_blank") Forums on itch.io
    |  &middot; 
    a(href="https://sparklinlabs.com/skype/en",target="_blank") English Skype group chat
    |  &middot; 
    a(href="https://sparklinlabs.com/skype/fr",target="_blank") Chat Skype Français
  li
    | Learn more: 
    a(href="http://superpowers-html5.com/",target="_blank") Official website
    | , 
    a(href="http://docs.sparklinlabs.com/",target="_blank") Documentation
  li
    | Follow development: 
    a(href="https://trello.com/b/eQUeNKrq/superpowers",target="_blank") Trello board
    | , 
    a(href="http://itch.io/t/9542/the-superpowers-game-maker-megathread",target="_blank") Devlog
    | , 
    a(href="https://twitter.com/SuperpowersDev",target="_blank") @SuperpowersDev
  li
    | Contact: 
    a(href="https://twitter.com/SparklinLabs",target="_blank") @SparklinLabs
