ul
  li
    a(href="skype:?chat&blob=51ZB-bxYEsL7ggecS0LXRN3ZA5zw7hB5ftv-1HBtCbPMa9790VXs_UHLD4d4O3aLVRD-vtn5elUnW7ZGJsK11-QVea8MsAXBijgRlEJ5YlQhRh_yLkTV41_pYj0_TsKS_QLi0xHk1hmIObT4cKk_cJguFEESgYH5EFuwXnlqsTXXyqNHNxCsCZarj_i9vllGFeWCY9JghamDfzQbcQ") Skype group
  li
    a(href="https://sparklinlabs.com/",target="_blank") Official website
  li
    a(href="http://superpowers.bitbucket.org/",target="_blank") Getting started
  li
    a(href="https://trello.com/b/eQUeNKrq/superpowers",target="_blank") Trello board
    | , 
    a(href="http://forums.tigsource.com/index.php?topic=46317.0",target="_blank") Devlog
  li
    a(href="https://twitter.com/SparklinLabs",target="_blank") @SparklinLabs
    |  (feel free to ask us questions!)
