ul
  li
    | Skype group chat: 
    a(href="https://sparklinlabs.com/skype/en",target="_blank") English
    |  &middot; 
    a(href="https://sparklinlabs.com/skype/fr",target="_blank") Français
  li
    | Forums on Reddit: 
    a(href="https://reddit.com/r/superpowers",target="_blank") English
    |  &middot; 
    a(href="https://reddit.com/r/superpowers_fr",target="_blank") Français
  li
    | Learn more: 
    a(href="https://sparklinlabs.com/",target="_blank") Official website
    | , 
    a(href="http://docs.sparklinlabs.com/",target="_blank") Documentation
  li
    | Follow development: 
    a(href="https://trello.com/b/eQUeNKrq/superpowers",target="_blank") Trello board
    | , 
    a(href="http://forums.tigsource.com/index.php?topic=46317.0",target="_blank") Devlog
    | , 
    a(href="https://twitter.com/SuperpowersDev",target="_blank") @SuperpowersDev
  li
    | Contact: 
    a(href="https://twitter.com/SparklinLabs",target="_blank") @SparklinLabs
