&
  text-align center
  position relative

  background url(images/artwork.png) center center no-repeat
  background-size auto 100%

h1
  font-weight normal

.version
  position absolute
  top 0
  right 0
  padding 0.5em
  font-weight normal
  opacity 0.5
