&
  display flex
  flex-flow column

.buttons
  margin 0.5em 0.5em 0 0.5em

.servers-tree-view
  flex 1
  margin 0.5em
  border 1px solid #aaa
  background #fff
  overflow-y auto
  min-height 200px

  li
    display flex
    white-space nowrap

    .address
      flex 1
      overflow hidden
      text-overflow ellipsis

  .name
    font-weight bold
