.buttons.button-strip
  button.add-server Add server
  button.rename-server(disabled) Rename
  button.edit-address(disabled) Edit address
  button.remove-server(disabled) Remove server
.servers-tree-view

.my-server
  header
    | My Server 
    .buttons
      button.start-stop-server Start
      button.open-projects Open projects folder
    .auto-start-server
      input#auto-start-server(type="checkbox")
      label(for="auto-start-server") Auto-start server on startup
  textarea(readonly)
