&
  display flex
  flex-flow column

.buttons
  margin 0.5em 0.5em 0 0.5em

.servers-tree-view
  flex 1
  margin 0.5em
  border 1px solid #aaa
  background #fff
  overflow-y auto
  position relative

  ol
    position absolute
    min-height 100%

  li
    display flex
    white-space nowrap

    .address
      flex 1
      overflow hidden
      text-overflow ellipsis

  .name
    font-weight bold

.my-server
  height 150px
  display flex
  flex-flow column

  header
    padding 0.5em
    background #ccc
    display flex
    align-items center

    .buttons
      margin 0 0.5em
      flex 1

  textarea
    flex 1
    resize none
    padding 0.5em
