table
  tr
    th Server port
    td
      input.server-port(type="number")

  tr
    th Server password
    td
      input.server-password(type="password",placeholder="Required for collaboration")

  tr
    th Number of recent builds to keep
    td
      input.max-recent-builds(type="number")

button.save-settings Save settings
